h1 {
    border-bottom: 5px solid slategray;
    
    }

body {
    background-color: lightgray;
    
    }
    
    .container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: white;
    
    }

    .row {
    margin-bottom: 25px;

    }