body {
    background-color: lightgray;
    
    }
    
    .container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    
    }